
body, ul, p, h2, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    background-color: #003366;
}

.main-content {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section-heading {
    text-align: center;
    font-size: 2rem;
    color: #004080;
    margin-bottom: 20px;
}

.intro-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #666;
}


.bank-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.bank-section {
    flex: 1;
    min-width: 250px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.bank-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bank-section h3 {
    color: #004080;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.bank-section p {
    font-size: 1rem;
    color: #555;
}




footer {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    height:90px;
}


